html {
  background-color: black;
  color: antiquewhite;
  font-family: "Roboto Mono", monospace;
}

div.cog {
  color: transparent;
  text-shadow: 0 0 0 antiquewhite;
  transition: 1.3s ease;
  transform-origin: center center;
  font-size: 50%;
  padding-bottom: 20px;
  padding-right: 10px;
}

div.cog:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

div.space {
  flex: 1 1 10%;
}

div.tiny-space {
  flex: 0 0 50px;
}

div.logo {
  display: flex;
  flex-direction: row;
  font-size: 20em;
}

div.by,
div.menu,
div.section,
div.cv-entry {
  display: flex;
  flex-direction: row;
}

div.vspace,
div.cv-content,
div.cv {
  display: flex;
  flex-direction: column;
}

div.section {
  margin-bottom: 5px;
}

div.menu {
  margin-top: 50px;
}

a.menu-item {
  all: unset;
  cursor: crosshair;
  background-color: black;
  color: antiquewhite;
  transition: background-color 0.5s ease;
}

a.menu-item:hover {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

a.raw-ref {
  all: unset;
  cursor: crosshair;
}

a.raw-ref:hover {
  all: unset;
  cursor: crosshair;
  color: goldenrod;
}

a.cv-entry-content {
  all: unset;
  margin-left: 8px;
  white-space: nowrap;
  cursor: crosshair;
  background-color: black;
  color: antiquewhite;
  transition: background-color 0.5s ease;
}

a.cv-entry-content:hover {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

div.cv-entry-content {
  margin-left: 8px;
  white-space: nowrap;
}

div.title {
  flex: 0 0 150px;
}

div.cv-entry-title {
  flex: 0 0 250px;
}

.emphasis {
  font-weight: bold;
}

.hint-box {
  position: relative;
  display: inline-block;
}

.terminal {
  width: 300px;
  background-color: black;
  color: antiquewhite;
  font-family: monospace;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  height: 20px;
  background-color: antiquewhite;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}

.red {
  background-color: gray;
}

.body {
  padding: 5px;
  display: grid;
  border-top-color: antiquewhite;
  border-left: gray;
  border-right: gray;
  border-bottom: gray;
  border-style: solid;
  grid-template-rows: 1fr auto;
}

.output {
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
}

.input-line {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 2px 0;
}

.prompt {
  font-weight: bold;
  padding-right: 5px;
}

.input {
  border: none;
  background: transparent;
  font-family: monospace;
  width: 100%;
  outline: none;
  color: antiquewhite;
}

.project-title {
  margin-top: 5px;
}