html {
  background-color: black;
  color: antiquewhite;
  font-family: "Roboto Mono", monospace;
}

div.cog {
  color: transparent;
  text-shadow: 0 0 0 antiquewhite;
  transition: 1.3s ease;
  transform-origin: center center;
  font-size: 50%;
  padding-bottom: 20px;
  padding-right: 10px;
}

div.cog:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

div.space {
  flex: 1 1 10%;
}

div.tiny-space {
  flex: 0 0 50px;
}

div.logo {
  display: flex;
  flex-direction: row;
  font-size: 20em;
}

div.by,
div.menu,
div.section,
div.cv-entry {
  display: flex;
  flex-direction: row;
}

div.vspace,
div.cv-content,
div.cv {
  display: flex;
  flex-direction: column;
}

div.section {
  margin-bottom: 5px;
}

div.menu {
  margin-top: 50px;
}

a.menu-item {
  all: unset;
  cursor: crosshair;
  background-color: black;
  color: antiquewhite;
  transition: background-color 0.5s ease;
}

a.menu-item:hover {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

div.cv-entry-content {
  margin-left: 8px;
  white-space: nowrap;
}

div.title {
  flex: 0 0 150px;
}

div.cv-entry-title {
  flex: 0 0 250px;
}

.emphasis {
  font-weight: bold;
}
